
@media only screen and (max-width: 768px){
    .responsive-navbar{
        display: block;
    }

    .navbar {
        display: none;
    }


    header{
        display: grid;
        grid-template-columns: 4fr 7fr 1fr;
        justify-content: start;
    }
    header button{
        justify-self: end;
    }

    .titr__right-side,
    .mobile__pic{
        display: none;
    }

    .web__pic,
    .web__circle{
        display: none;
    }

    .sign-up{
        position: relative;
        grid-template-columns: auto;
    }

    .sign-up>img{
        position: absolute;
        opacity: 0.3;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .signup-text{
        z-index: 2;
    }
    .signup-text>p{
        color: black;
        opacity: 1;
    }
}


@media only screen and (max-width: 550px){
    .left-pic{
        display: none;
    }
}